<div id="search_header">
    <h5 id="search_desc">Search for an Artist, Song, Album, Playlist or Other Users</h5>
    <form action="/{{username}}/search_results" method="post">
        {%csrf_token%}
        <input type="text" name="search_result" class="big_search" id="ajax_search" autocomplete="off">
    </form>
</div>
<script>
$('.big_search').keyup(function(){
    console.log('CAME HERE');
    var url = window.location.href;
    var usernameArr = url.split("/");
    var username = usernameArr[3];
    var search_url = "/"+username+"/search_results";
    console.log(search_url);
    console.log("parent serialized() returned=", $(this).parent().serialize())
    $.ajax({
        url: search_url,
        method: 'post',
        data: $(this).parent().serialize(),
        success: function(serverResponse){
            console.log('success. serverResponse:', serverResponse);
            $('#search_results').html(serverResponse);
        }
    });
});
</script>

<div id="search_field">
    <div id='search_results'>
    </div>            
    <h5>RECENT SEARCHES</h5>
    <div class="underline_select"></div>
    {% for search in recent_searches %}
        <h1 class="recent_search_history">{{ search.search }}</h1>
        <h5 class="recent_search_history rsh_type">{{ search.type }}</h5>
    {% endfor %}
</div>