<div id="playlist_header">
    <h5>PLAYLISTS</h5>
    <h5>ALBUMS</h5>
    <h5>ARTISTS</h5>
</div>
<div>
    <form action="{{username}}/adddata">
    artist: <input type="text" name="artist">
    desc: <input type="text" name="desc">
    album: <input type="text" name="album">
    releaseyear: <input type="text" name="releaseyear">
    <input type="hidden" name="interest" value=" ">
    track: <input type="text" name="track">
    tracknumber: <input type="text" name="tracknumber">
    length: <input type="text" name="length">
    <input type="hidden" name="location" value=" ">
    <input type="submit" name="submit">
    </form>
</div>
