<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clone-ify</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'music_streaming/css/streamer_style.css' %}">
</head>
<body>
    <div id="main_content">
        <div id="left_sidebar">
            <img class="main_logo" src="{% static 'music_streaming/img/Spotify_logo.png' %}" alt="spotify_logo">
            <div class="search">
                <input type="text" name="search_bar" id="search_bar" value="Search">
            </div>
            <div id="user_platforms">
                <h2>Home</h2>
                <h2>Your Music</h2>
            </div> <!-- Space for Main Library and User's Playlists Links, div will make it easier to include border style tags -->
            <div id="recently_played">
                <h3>RECENTLY PLAYED</h3>
            </div>
            <div class="user_settings">
                <h3><a href="/logout">Logout</a></h3>
            </div>
        </div>
        <div id="header">
        </div>
    </div>
    <div id="media_player"></div>
</body>
</html>