*{
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}
body{
    background-color: black;
    font-family: sans-serif;
    counter-reset: tracks;
}
.main_logo{
    width: 32px;
    margin-top:12px;
    cursor: pointer;
}
.stable{
    color: #9c9c9c;
}
.select{
    color: #00b961;
}
.hover{
    color: #ffffff;
    cursor: pointer;
}
#left_sidebar{
    width: 168px;
    display: inline-block;
    padding: 25px;
    vertical-align: top;
}
.blackOut{
    background: black;
}
.gradient{
    background: linear-gradient( rgba(0,0,0,.5) 40%,rgba(0,0,0,1));
}
.search_bar{
    width: 143px;
    vertical-align: middle;
    display: inline-block;
}
.search_bar, h2{
    font-size: 15px;
    font-weight: 600;
}
#magnify_glass{
    width: 20px;
    align-content: center;
    display: inline-block;
}
h2{
    margin-bottom: 12px;
    width: 168px;
}
h3{
    font-size: 12px;
    font-weight: 200;
}
.search, #user_platforms, #recently_played{
    border-top: .5px solid #9c9c9c;
    margin: 6px 0;
    padding-top: 12px;
}
#everything_but_player{
    width: 100%;
    background: linear-gradient( #943889,black);
    display: inline-block;
    vertical-align: top;
}
.user_settings{
    width: inherit;
    color: #9c9c9c;
    position: fixed;
    bottom: 105px;
    padding-top: 15px;
    border-top: .5px solid #9c9c9c;
}
.user_settings h3{
    margin-left: 3px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
}
#profile_pic{
    width: 26px;
    vertical-align: middle;
    display: inline-block;
}
#media_player{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #282828;
    border-top: .5px solid black;
}
#main_content{
    margin-left: -4px;
    display: inline-block;
    overflow: scroll;
}
.toSize{
    display: inline-block;
    vertical-align: top;
    
}
#search_header{
    background-color: #282828;
    padding: 25px 0 10px 25px;
    position: fixed;
    width: inherit;
    z-index: 10;
    box-shadow: 0 27px 27px #0f0f0f;
}
.big_search{
    color: #535353;
    border: transparent;
    background-color: transparent;
    caret-color: #00b961;
    margin: 20px 0 20px;
    font-size: 40px;
}
.big_result{
    display: block;
    color: white;
    font-size: 30px;
    margin-top: 15px;
}
.little_result{
    font-size: 20px;
    margin: 13px 20px 0 20px;
}
.big_result, .big_search{
    font-weight: 700;
    font-stretch: condensed;
    transform: scaleY(1.2);
}
input:focus{
    outline: none;
}
#search_field{
    background-color: #0f0f0f;
    display: block;
    padding-top: 30px;
    overflow: scroll;
    padding-top: 180px;
    height: inherit;
}
.underline_select{
    border-bottom: 2px solid #00b961;
    width: 30px;
    margin: 0 auto;
}
h5{
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    font-stretch: expanded;

}
#search_desc{
    text-align: left;
    margin: 0;
}
.recent_search_history{
    color: #9c9c9c;
}
.rsh_type{
    text-transform: uppercase;
}
#search_results{
    margin-left: 25px;
}
p.track_before::before {
    counter-increment: tracks;
    content: counter(tracks)".";
    color: #9c9c9c;
}
p.track_before{
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}
p.track{
    display: inline-block;
    color: white;
    overflow-wrap: normal;
}
h2.big_result:first-of-type{
    margin-bottom: -20px;
}
p.track_artist{
    display: inline;
    font-size: 15px;
    margin: 5px 6px 15px 43px;
}
p.track_album{
    display: inline;
    font-size: 15px;
    margin: 5px 0 15px 6px;
}
p.track_length{
    display: block;
    text-align: right;
    justify-content: end;
}
#dot{
    font-size: 6;
    display: inline;
    vertical-align: middle;
    color: #9c9c9c;
}
p.track_album, p.track_artist, p.track{
    font-weight: 200;
}
.track_box_right{
    display: inline-block;
    width: 6%;
}
.track_box_left{
    display: inline-block;
    width: 88%;
}
.img{
    width: 21px;
    vertical-align: bottom;
}